#content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	grid-area: content;
	overflow-x: auto;
}

#main-content {
	padding: 1rem 1rem 4rem;
	overflow: hidden auto;
	user-select: text;
	height: 100%;
}

#main-content::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

#main-content .table-title {
	padding-bottom: 0.5rem;
	font-size: 150%;
	font-weight: bold;
	display: flex;
	align-items: baseline;
}

#main-content .table-title:not(:first-child) {
	padding-top: 1.5rem;
}

#main-content .table-sub-title {
	margin-left: 0.5rem;
	font-size: 70%;
	color: var(--textCol-secondary);
}

.remaining-experiment-container {
	display: grid;
	grid-template-columns: auto auto;
	width: max-content;
	align-items: center;
	border: 0.22rem solid var(--borderCol-main);
}

.remaining-experiment-container .science-cell {
	min-width: 5rem;
}

.remaining-experiments-spacer {
	grid-column: span 2;
	height: 0.13rem;
	background-color: var(--borderCol-main);
}

.remaining-experiment-container > p {
	font-weight: bold;
	padding: 0 1rem 0 0.5rem;
}
