#tab-list {
	display: flex;
	background-color: var(--bgCol-alt);
	width: 100%;
	overflow-x: auto;
}

#tab-list::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

.tab {
	padding: 0.7rem;
	cursor: pointer;
	text-align: center;
	border-left: 0.13rem solid var(--borderCol-main);
	min-width: 7rem;
}

.tab:last-child {
	border-right-width: 0.13rem;
}

.tab:hover:not(.active) {
	background-color: var(--bgCol-hover);
}

.tab.active {
	background-color: var(--bgCol-highlight);
	color: var(--textCol-highlight);
	font-weight: bold;
}
