.tab-list-button {
	color: var(--textCol-alt);
	border-radius: 0.3rem;
	-webkit-app-region: no-drag;
}

.tab-list-button > p {
	cursor: pointer;
	padding-inline: 0.6rem;
}

.tab-list-button:hover,
.tab-list-button.open {
	background-color: var(--bgCol-highlight);
}
