#titlebar {
	height: env(titlebar-area-height, var(--fallback-title-bar-height));
	grid-area: titlebar;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	-webkit-app-region: drag;
}

#titlebar.titlebar-macos {
	align-items: center;
	justify-content: center;
}

#titlebar.titlebar-hidden {
	display: none;
}

.titlebar-list {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	padding: 0.5rem;
	list-style: none;
}

.titlebar-appImage-container {
	margin-right: 0.6rem;
	margin-left: 0.4rem;
}

.titlebar-appImage {
	height: 100%;
}
